<main>
  <div class="d-flex flex-row justify-content-center align-items-center w-100">
    <div class="d-flex align-items-center justify-content-center flex-column w-50">
      <div>
        <div class="profile-image">
          <%= image_tag('profile-no-background') %>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center flex-column w-50">
      <h1>Hi, I'm Rory</h1>
      <h2>I'm a full stack web developer based in London.<br>
      I use front and back end technolgies to design and create cutting edge websites.</h2>
    </div>
  </div>
</main>

