@import "bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Palanquin:100,200,300,regular,500,600,700);

*,
*::before
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font: 300 16px/16px 'Palanquin', monospace;
  height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  transform: translate3d(0,0,0);
  color: #dfdfdf;
  background-color: #111d5e;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #202020;

  &:hover {
    color: #0B5345;
    text-decoration: none;
  }
}

// NAVBAR --------------------------------------------------------------------------------------------//
nav {
  background-image: image-url('60-lines');
  .nav-home {
    img {
      width: 40px;
      height: auto;
      margin: 0 0 0 40px;
    }
  }

  .nav-list {
    justify-content: space-evenly;
  }

  .nav-item {
    a {
      color: #dfdfdf;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
